

header {
    background-color: blue;
    background-image: linear-gradient(to left, white, blue);
    color: azure;
    font-size: 50px;
    text-align: center;
    height: 70px;
}

.container{}

.city-search{
    display:inline-block;
}

.search{
    /* background-image: linear-gradient(to left, white, blue); */
    background-color: blue;
    color: azure;
    padding: 8px 135px;
    font-size: 22px;
    float left: ;
}

.search-history{
    border: black solid 2px;
    width: 340px;
}

.current-day{
    border: black solid 2px;
    width: 1200px;
    font-size: 26px;
}

.five-day{
    
}
.card{
    background-image: linear-gradient(to bottom, white, blue);
}