

header {
    background-color: blue;
    background-image: linear-gradient(to left, white, blue);
    color: white;
    font-size: 50px;
    text-align: center;
    height: 70px;
}



.city-search{
    display:inline-block;
}

.search{
    background-color: blue;
    color: azure;
    padding: 8px 135px;
    font-size: 22px;
    
}

#current-icon{
    float: left;
    height: 200px;
    width: 200px; 
}

.search-history{
    border: black solid 2px;
    width: 340px;
}

.current-day{
    border: black solid 2px;
    width: 1200px;
    font-size: 32px;
    background-image: linear-gradient(to top, white, blue);
    display: block;
    text-align: center;
}

#current-city{
    font-size: 50px;
    /* padding-left: 450px; */
}

#current-date{
    font-size: 40px;
    /* padding-left: 485px; */
}

#current-description{
    font-weight: lighter;
    font-size: 42px;
}

#current-temp{
    /* padding-left: 450px; */
}

#current-wind{
    /* padding-left: 430px; */
}

#current-humidity{
    /* padding-left: 455px; */
}

.five-day{
    
}
.card{
    background-image: transparent;
}
.justify{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
    background-image: linear-gradient(to top, white, blue);
}

.descriptDiv{
    font-size: 28px;
    font-weight: lighter;    
}

.fiveDayDivs{
    font-size: 28px;
}

